In [36]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
df_leetcode = pd.read_json("../leetcode_data.json")
df_leetcode.head()
df_leetcode = df_leetcode.dropna(how='all')

In [38]:
df_codeforces = pd.read_json("../codeforces_data.json")
df_codeforces.head()

                username  rating   easy  medium   hard  solvedLastWeek
0      tanishqrathore_07     922  177.0   121.0   18.0               6
1              roysp2003    1102   49.0    31.0    NaN               6
2               kamran-7     873   11.0     3.0    NaN               3
3               coderncm    1348   19.0     3.0    2.0               0
4  SHUBHAM_SINGH_PATEL__    1240  186.0   397.0  147.0              18

In [39]:
leetcode_columns = df_leetcode.columns
leetcode_columns

Index(['totalSolved', 'totalSubmissions', 'totalQuestions', 'easySolved',
       'totalEasy', 'mediumSolved', 'totalMedium', 'hardSolved', 'totalHard',
       'ranking', 'contributionPoint', 'reputation', 'submissionCalendar',
       'recentSubmissions', 'matchedUserStats'],
      dtype='object')

In [40]:
df_leetcode = df_leetcode.drop(columns=[leetcode_columns[2], leetcode_columns[4], leetcode_columns[6], leetcode_columns[8], leetcode_columns[9], leetcode_columns[10], leetcode_columns[11], leetcode_columns[13], leetcode_columns[14]])
df_leetcode.head()

,totalSolved,totalSubmissions,easySolved,mediumSolved,hardSolved,submissionCalendar
10,192.0,"[{'difficulty': 'All', 'count': 209, 'submissi...",53.0,128.0,11.0,"{'1716940800': 1, '1722124800': 2, '1722643200..."
11,624.0,"[{'difficulty': 'All', 'count': 669, 'submissi...",191.0,334.0,99.0,"{'1708128000': 5, '1708214400': 9, '1708819200..."
12,1222.0,"[{'difficulty': 'All', 'count': 1225, 'submiss...",308.0,599.0,315.0,"{'1708819200': 9, '1709424000': 4, '1710028800..."
15,1481.0,"[{'difficulty': 'All', 'count': 1522, 'submiss...",400.0,811.0,270.0,"{'1708041600': 2, '1708128000': 3, '1708214400..."
16,46.0,"[{'difficulty': 'All', 'count': 51, 'submissio...",18.0,28.0,0.0,"{'1724284800': 5, '1725321600': 3, '1725753600..."

In [41]:
def sum_of_ques(items):
    sum = 0
    for item in items:
        sum += item[1]
    return sum

In [42]:
def filter_last_n_keys_dict(d, n=7):
    if isinstance(d, dict):
        return sum_of_ques(list(d.items())[-n:])
df_leetcode["submissionCalendar"] = df_leetcode["submissionCalendar"].apply(lambda x: filter_last_n_keys_dict(x, 7))

In [43]:
total_list = df_leetcode["totalSubmissions"]
final_list = []
for item in total_list:
    # print(type(item))
    if(isinstance(item, list)):
        if isinstance(
            item[0], dict
        ):  # Ensure it's a dictionary before attempting to access keys
            final_list.append(round(item[0]["count"] / item[0]["submissions"], 2))
        else:
            print(f"Unexpected value: {item}")  # Print if it's not a dictionary
final_list

[0.57,
 0.49,
 0.59,
 0.44,
 0.61,
 0.82,
 0.58,
 0.59,
 0.6,
 0.13,
 0.08,
 0.36,
 0.62,
 0.55,
 0.43,
 0.71,
 0.27,
 0.8,
 0.38,
 0.86,
 0.46,
 0.47,
 0.88,
 0.34,
 0.45,
 0.58,
 0.47]

In [44]:
final_list = np.array(final_list)

In [45]:
final_list

array([0.57, 0.49, 0.59, 0.44, 0.61, 0.82, 0.58, 0.59, 0.6 , 0.13, 0.08,
       0.36, 0.62, 0.55, 0.43, 0.71, 0.27, 0.8 , 0.38, 0.86, 0.46, 0.47,
       0.88, 0.34, 0.45, 0.58, 0.47])

In [46]:
df_leetcode["totalSubmissions"] = final_list

In [47]:
df_leetcode.head()

,totalSolved,totalSubmissions,easySolved,mediumSolved,hardSolved,submissionCalendar
10,192.0,0.57,53.0,128.0,11.0,27
11,624.0,0.49,191.0,334.0,99.0,12
12,1222.0,0.59,308.0,599.0,315.0,44
15,1481.0,0.44,400.0,811.0,270.0,25
16,46.0,0.61,18.0,28.0,0.0,18

In [48]:
df_leetcode.head()

,totalSolved,totalSubmissions,easySolved,mediumSolved,hardSolved,submissionCalendar
10,192.0,0.57,53.0,128.0,11.0,27
11,624.0,0.49,191.0,334.0,99.0,12
12,1222.0,0.59,308.0,599.0,315.0,44
15,1481.0,0.44,400.0,811.0,270.0,25
16,46.0,0.61,18.0,28.0,0.0,18

In [49]:
sorted_df_codeforces_columns = sorted(df_codeforces.columns)
codeforces_columns = [df_codeforces.columns.get_loc(col) for col in sorted_df_codeforces_columns]

In [50]:
df_codeforces = df_codeforces.iloc[:, codeforces_columns]
df_codeforces = df_codeforces.drop(columns=["username"])
df_codeforces.head()

    easy   hard  medium  rating  solvedLastWeek
0  177.0   18.0   121.0     922               6
1   49.0    NaN    31.0    1102               6
2   11.0    NaN     3.0     873               3
3   19.0    2.0     3.0    1348               0
4  186.0  147.0   397.0    1240              18

In [51]:
df_codeforces = df_codeforces.fillna(0)

In [52]:
df_codeforces.head()

    easy   hard  medium  rating  solvedLastWeek
0  177.0   18.0   121.0     922               6
1   49.0    0.0    31.0    1102               6
2   11.0    0.0     3.0     873               3
3   19.0    2.0     3.0    1348               0
4  186.0  147.0   397.0    1240              18

In [53]:
df_codeforces.to_csv("./codeforces.csv", index=False)
df_leetcode.to_csv("./leetcode.csv", index=False)